body {
  background-color: #121212;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; 
  margin: 0;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.header {
  color: #00ffc3; 
  font-size: 30px;
  font-weight: bold;
  border-radius: 12px;
  width: 900px;
  text-align: center;
  margin-bottom: 20px;
}

.calc-wrapper {
  background: #1f1f1f;
  padding: 1rem;
  border-radius: 12px;
  width: 360px;
  box-shadow: 0 0 15px #00ffc388;
}

.screen {
  background-color: #000;
  color: #00ffc3;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-align: right;
  min-height: 60px;
  overflow-x: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.btn {
  padding: 1rem;
  font-size: 1.2rem;
  background: #2a2a2a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #3a3a3a;
}

.btn.operator {
  background-color: #00ffc3;
  color: black;
}

#equals {
  background-color: #00cfa1;
  grid-column: span 2;
}

#clear, #back {
  background-color: #ff5252;
}

#replay {
  background-color: #ffc107;
  color: black;
}

body {
  overflow: hidden; 
}

#download {
  background-color: #2a2a2a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.2rem;
}

#download:hover {
  background-color: #3a3a3a;
}

#download i {
  margin-right: 8px;
}


#clearHistory {
  background-color: #ff4081; 
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1.2rem;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#clearHistory:hover {
  background-color: #f50057; 
}

#clearHistory i {
  margin-right: 8px;
}

